.article{
	width: 500px;
	height: 200px;
	margin-bottom: 20px;
	background: white;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.msg{
	height: 100%;
	position: relative;
}

.title{
	font-size: 20px;
	margin: 20px 0 10px;
}

.detail{
	position: absolute;
	bottom: 22px;
	right: 20px;
}